<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserPage</servlet-name>
        <servlet-class>.UserPage</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>user1</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>.AdminPage</servlet-class>
        <init-param>
            <param-name>admin-username</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>admin-password</param-name>
            <param-value>admin123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPage</servlet-name>
        <url-pattern>/UserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/AdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
